/* Attempt to change the SSI's to use css instead of tables - PPM */
/* Some code stolen from Stephan Witz */
body {
    margin: 0pt;
}

div#main {
    margin: 0pt;
    padding: 0px;
}
div#topbar {
    margin: 0pt;
    padding: 0px;
    background-color: #ffffff;
    background-image: url(/common/wikio-top-bg.png);
    background-repeat: repeat-y;
    color: #0F3658;
    font-family: helvetica, sans-serif;
    height: 60px;
}
div#logo {
    font-size: 20px;
    padding: 3px;
}
div#search {
    position: absolute;
    text-align: right;
    top:  12px;
    right: 12px;
    color: #ffffff;
    font-size: 11px;
    height: 36px;  /* will be problematic for clients that enlarge too much */
}
div#subnavArea {
    position: absolute;
    top: 40px;
    right: 10px;
    color:#ffffff;
    width: 60%;
    text-align: right;
    font-size: 12px;
    font-weight: bold;
    vertical-align:middle;
}
#subnavArea a:link {
    color: #000000;
    text-decoration: none; 
}
#navig a.link { /* backwards compatibility */
    color:#000000; 
    text-decoration: none; 
}
#subnavArea a:visited {
    color: #ccffcc;
    text-decoration: none;
}
#navig a.visited{ /* backwards compatibility */
    color:#ccffcc; 
    text-decoration: none;
}
#subnavArea a:hover {
    color: #661a03;
    text-decoration: underline;
}
#navig a.hover{ /* backwards compatibility */
    color:#661a03; 
    text-decoration: underline; 
}
div#nraomenu {
    float: left;
    width: 15%;
    /* background-color: #0F3658; */
    background-image: url(/common/menubg.png);
    background-repeat: repeat-y;
    color: #96B3CE;
    height: 100%;
    margin: 1px;
    padding: 4px;
}
#nraomenu a:link {
    color: #ffffcc;
    text-decoration: none;
    font-weight: bold;
}
#nraomenu a:visited {
    color: #ccffff;
    text-decoration: none;
    font-weight: bold;
}
#nraomenu a:hover {
    text-decoration:underline;
}
div#content {
    padding: 1em;
}
div#contentmenu {
    left: 18%;
    margin: 5px;
    padding: 2px;
}
div#modified {
    position: relative;
    clear: both;
    text-align: right;
    padding: 5px;
    font-size: 11pt;
    color: #375774;
}
div#footerUtilities {
    clear:both;
    text-align:left;
    padding-left:20px;
    font-size:12px;
    color:#375774;
    border-top:1px solid #26547d;
    margin-top:12px;
}
div#footerUtilities a {
    text-decoration:none;
    color:#375774;
    padding:0px 6px;
    font-weight:normal;
}
div#footerUtilities a:hover {
    text-decoration:underline;
}
#footer { /* from Taylor */
    clear:both;
    background-color:#ffffff;
    border-top:1px solid #26547d;
    font-size:11px;
    color:#516f9c;
    padding:10px 20px 0px 20px;
    font-weight:bold;
}

/* Legacy stuff from old  */
A.leftmenu:link{color:#ffffff; text-decoration: none; font-weight: bold; font-size: 14px; }
A.leftmenu:visited{color:#ffffff; text-decoration: none; font-weight: bold; font-size: 14px; }
A.leftmenu:hover{color:#ffffff; text-decoration: underline; font-weight: bold; font-size: 14px; }

A.leftmenu2:link{color:#ffcccc; text-decoration: none; font-weight: bold; font-size: 14px; }
A.leftmenu2:visited{color:#ffcccc; text-decoration: none; font-weight: bold; font-size: 14px; }
A.leftmenu2:hover{color:#ffcccc; text-decoration: underline; font-weight: bold; font-size: 14px; }

