#Name                      ObsID        z   NH20     Tx     Fe    E_obs  nhmod  model   stat NHfro Fefro      apert     source     bkgrnd local   location
1E0657_56                   3184   0.2960   6.53  11.64   0.23   1.5432   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
1E0657_56                   5356   0.2960   6.53  11.64   0.23   1.5432   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
1E0657_56                   5361   0.2960   6.53  11.64   0.23   1.5432   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
1RXS_J2129.4-0741           3199   0.5700   4.36   8.62   0.52   1.2739   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
1RXS_J2129.4-0741           3595   0.5700   4.36   8.62   0.52   1.2739   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
3C_220.1                     839   0.6100   1.91   6.80   0.30   1.2422   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
3C_28.0                     3233   0.1952   5.71   3.90   0.12   1.6734   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
3C_295                      2254   0.4641   1.35   6.51   0.36   1.3660   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
3C_388                      5295   0.0917   6.11   3.50   0.30   1.8320   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
4C_55.16                    4940   0.2420   4.00   4.21   0.29   1.6103   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_0068                  3250   0.2546   4.60  10.00   0.30   1.5941   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_0085                   904   0.0558   3.65   6.90   0.37   1.8943   wabs  mekal   cash    no   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_0133                  2203   0.0558   1.56   3.71   0.64   1.8943   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_0267                  1448   0.2300   2.74   6.79   0.26   1.6260   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_0267                  3580   0.2300   2.74   6.79   0.26   1.6260   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_0370                   515   0.3747   3.37   7.20   0.39   1.4549   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_0383                  2321   0.1871   4.07   3.93   0.38   1.6848   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_0399                  3230   0.0716  11.51   5.80   0.23   1.8664   wabs  mekal   cash    no   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_0478                  1669   0.0883  30.90   7.07   0.31   1.8377   wabs  mekal   cash    no   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_0478                  6102   0.0883  30.90   7.07   0.31   1.8377   wabs  mekal   cash    no   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_0496                  3361   0.0328   4.57   3.89   0.47   1.9365   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_0520                  4215   0.2020   7.84   7.40   0.25   1.6639   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_0521                   430   0.2533   6.17   6.74   0.19   1.5958   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_0576                  3289   0.0385   5.57   4.09   0.46   1.9259   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_0586                   530   0.1710   4.71   8.70   0.30   1.7079   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_0611                  3194   0.2880   4.99   6.69   0.19   1.5528   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_0644                  2211   0.0698   6.31   6.60   0.29   1.8695   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_0665                  3586   0.1810   4.24   8.30   0.19   1.6935   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_0697                  4217   0.2820   3.34   9.06   0.23   1.5601   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_0773                  5006   0.2170   1.46   8.53   0.34   1.6434   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_0781                   534   0.2984   1.90  10.80   0.30   1.5404   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_0907                  3185   0.1527   5.69   5.04   0.25   1.7351   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_0963                   903   0.2056   1.39   6.60   0.34   1.6589   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_1060                  2220   0.0125   4.96   3.20   0.37   1.9753   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_1063S                 4966   0.3540   1.77  11.10   0.08   1.5974   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
ABELL_1068                  1652   0.1375   0.71   3.87   0.42   1.7582   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_1201                  4216   0.1688   1.85   6.90   0.30   1.7112   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_1204                  2205   0.1706   1.44   3.78   0.35   1.7085   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_1361                  2200   0.1171   2.18   4.08   0.61   1.7904   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_1413                  5003   0.1426   2.19   8.90   0.21   1.7504   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_1423                   538   0.2130   1.60   8.50   0.30   1.6488   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_1650                  4178   0.0843   1.62   5.89   0.40   1.8445   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_1651                  4185   0.0840   2.02   7.00   0.32   1.8450   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_1664                  1648   0.1276   8.47   3.50   0.11   1.7737   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_1682                  3244   0.2260   1.10   8.90   0.30   1.6313   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_1689                  5004   0.1843   1.87  10.10   0.25   1.6888   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_1758                  2213   0.2792   1.09   7.95   0.20   1.5635   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_1763                  3591   0.1866   0.82   6.90   0.16   1.6855   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_1795                  5289   0.0625   1.22   7.80   0.37   1.8824   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_1835                   495   0.2532   2.36   7.65   0.36   1.5959   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_1914                  3593   0.1712   0.97  10.50   0.30   1.7077   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_1942                  3290   0.2240   2.75   5.12   0.27   1.6340   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_1991                  3193   0.0565   2.43   5.40   0.30   1.8930   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2029                  4977   0.0765   3.26   7.38   0.42   1.8579   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2029                  6101   0.0765   3.26   7.38   0.42   1.8579   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2034                  2204   0.1130   1.58   7.15   0.29   1.7969   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2069                  4965   0.1160   1.97   7.90   0.30   1.7921   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2104                   895   0.1554  14.93   9.31   0.32   1.7310   wabs  mekal   cash    no   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2111                   544   0.2300   2.20   8.02   0.30   1.6260   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2124                  3238   0.0658   1.71   2.50   0.30   1.8765   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2125                  2207   0.2465   2.75   3.20   0.30   1.6045   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2147                  3211   0.0356   3.38   4.45   0.35   1.9312   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2163                  1653   0.1695  12.04  12.12   0.22   1.7101   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2199                   497   0.0300   0.88   4.14   0.43   1.9417   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2204                   499   0.1524   5.84   6.97   0.38   1.7355   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2204                  6104   0.1524   5.84   6.97   0.38   1.7355   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2218                  1666   0.1713   3.12   6.70   0.30   1.7075   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2219                   896   0.2256   1.76   9.81   0.27   1.6319   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2244                  4179   0.0967   2.09   5.57   0.29   1.8237   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2255                   894   0.0805   2.53   6.42   0.25   1.8510   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2259                  3245   0.1640   3.70   4.94   0.30   1.7182   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2261                  5007   0.2240   3.31   7.58   0.30   1.6340   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2294                  3246   0.1780   6.10   7.10   0.30   1.6978   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2319                  3231   0.0562   9.05   9.49   0.25   1.8936   wabs  mekal   cash    no   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2384                  4202   0.0945   2.99   3.80   0.30   1.8273   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2390                  4193   0.2301   6.71   9.16   0.25   1.6259   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2409                  3247   0.1479   6.72   5.50   0.30   1.7423   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2537                  4962   0.2950   4.26   6.08   0.26   1.5444   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2550                  2225   0.1543   2.03   2.58   0.30   1.7327   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2554                  1696   0.1103   2.04   6.40   0.44   1.8013   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2556                  2226   0.0862   2.02   4.13   0.34   1.8413   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2589                  3210   0.0415   3.98   3.70   0.30   1.9203   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2597                   922   0.0854   2.51   3.58   0.37   1.8426   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2626                  3192   0.0573   4.30   2.90   0.30   1.8916   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2634                  4816   0.0314   5.07   3.40   0.43   1.9391   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2667                  2214   0.2300   1.64   6.31   0.31   1.6260   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2670                  4959   0.0763   2.88   3.98   0.25   1.8582   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_2744                  2212   0.3080   1.82   9.61   0.19   1.5291   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_3112                  2516   0.0720   2.50   4.28   0.51   1.8657   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_3158                  3201   0.0580   1.60   5.50   0.30   1.8904   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_3266                   899   0.0590   1.72   8.35   0.32   1.8886   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_3558                  1646   0.0480   3.84   5.51   0.33   1.9084   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_3562                  4167   0.0490   3.90   3.80   0.30   1.9066   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_3571                  4203   0.0391   4.66   7.60   0.30   1.9247   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_3667                  5751   0.0556   5.45   6.72   0.29   1.8947   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ABELL_4038                  4992   0.0300   1.57   3.30   0.30   1.9417   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
AC_114                      1562   0.3120   1.44   6.99   0.30   1.5244   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
CL_0024+17                   929   0.3940   4.36   4.80   0.30   1.4347   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
CL_1221+4918                1662   0.7000   1.44   7.20   0.30   1.1765   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
CL_J0030+2618               1190   0.5000   4.10  17.67   0.30   1.3333   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
CL_J0030+2618               1226   0.5000   4.10  17.67   0.30   1.3333   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
CL_J0030+2618               5762   0.5000   4.10  17.67   0.30   1.3333   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
CL_J0152-1357                913   0.8310   1.45   6.50   0.30   1.0923   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
CL_J0542.8-4100              914   0.6300   3.59   6.62   0.30   1.2270   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
CL_J0848+4456               1708   0.5740   2.53   3.20   0.30   1.2706   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
CL_J0848+4456                927   0.5740   2.53   3.20   0.30   1.2706   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
CL_J1113.1-2615              915   0.7300   5.51   7.14   0.30   1.1561   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
CL_J1213+0253               4934   0.4090   1.78   3.70   0.30   1.4194   wabs  mekal   cash    no   yes   r2500-50       src1    bgd_adj    no     NAZGUL
CL_J1226.9+3332             3180   0.8900   1.37  10.00   0.30   1.0582   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
CL_J1226.9+3332             5014   0.8900   1.37  10.00   0.30   1.0582   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
CL_J1641+4001               3575   0.4640   1.09   1.63   0.30   1.3661   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
CL_J2302.8+0844              918   0.7300   5.05  10.00   0.30   1.1561   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
CYGNUS_A                     360   0.0561  35.23  10.40   0.72   1.8938   wabs  mekal   cash    no   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ESO_3060170                 3189   0.0358   3.43   2.63   0.30   1.9309   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ESO_5520200                 3206   0.0314   4.29   2.34   0.30   1.9391   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
EXO_0422-086                4183   0.0397   6.22   3.28   0.30   1.9236   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
HERCULES_A                  1625   0.1541   6.27   4.15   0.45   1.7330   wabs  mekal   cash    no   yes   r2500-50       src1    bgd_adj    no     NAZGUL
HYDRA_A                     4970   0.0549   4.82   4.30   0.30   1.8959   wabs  mekal   cash    no   yes   r2500-50       src1    bgd_adj    no     NAZGUL
IRAS_09104+4109              509   0.4420   1.36   8.98   0.30   1.3870   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
LYNX_E                     17081   0.5740   2.53   3.20   0.30   1.2706   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
LYNX_E                      9271   1.2600   2.53   5.20   0.30   0.8850   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
MACS_J0011.7-1523           6105   0.3600   2.08   5.42   0.30   1.4706   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
MACS_J0025.4-1222           3251   0.5843   2.72   7.10   0.30   1.2624   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J0025.4-1222           5010   0.5843   2.72   7.10   0.30   1.2624   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J0159.8-0849           3265   0.4050   2.01   7.90   0.31   1.4235   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J0159.8-0849           6106   0.4050   2.01   9.59   0.30   1.4235   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J0242.5-2132           3266   0.3140   2.71   6.22   0.20   1.5221   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
MACS_J0257.1-2325           1654   0.5053   2.09  10.50   0.30   1.3286   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J0257.1-2325           3581   0.5053   2.09  10.50   0.30   1.3286   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J0257.6-2209           3267   0.3224   2.02   7.40   0.41   1.5124   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J0329.6-0211           3257   0.4500   6.21   5.20   0.51   1.3793   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J0329.6-0211           3582   0.4500   6.21   5.24   0.30   1.3793   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J0329.6-0211           6108   0.4500   6.21   5.20   0.51   1.3793   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J0404.6+1109           3269   0.3548  14.96   5.90   0.19   1.4762   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J0417.5-1154           3270   0.4400   4.00   5.37   0.30   1.3889   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J0429.6-0253           3271   0.3990   5.70   6.76   0.40   1.4296   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
MACS_J0451.9+0006           5815   0.4300   7.65   5.60   0.35   1.3986   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J0547.0-3904           3273   0.2100   4.08   2.96   0.30   1.6529   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
MACS_J0717.5+3745           1655   0.5480   6.75  10.50   0.28   1.2920   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J0717.5+3745           4200   0.5480   6.75  10.50   0.28   1.2920   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J0744.8+3927           3197   0.6860   4.66  11.29   0.38   1.1862   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J0744.8+3927           3585   0.6860   4.66  11.29   0.38   1.1862   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J0744.8+3927           6111   0.6860   4.66  11.29   0.30   1.1862   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J0911.2+1746           3587   0.5409   3.55   8.80   0.30   1.2979   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J0949+1708             3274   0.3820   3.17   8.44   0.13   1.4472   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
MACS_J1115.8+0129           3275   0.1200   4.36   4.10   0.30   1.7857   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
MACS_J1131.8-1955           3276   0.3070   4.49   8.30   0.47   1.5302   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J1149.5+2223           1656   0.1761   2.32   8.40   0.28   1.7005   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J1149.5+2223           3589   0.1761   2.32   8.40   0.28   1.7005   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J1206.2-0847           3277   0.4400   4.15   7.88   0.30   1.3889   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J1226.8+2153           3590   0.3700   1.82   5.94   0.30   1.4599   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J1311.0-0310           3258   0.4940   2.18   5.60   0.39   1.3387   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J1311.0-0310           6110   0.4940   2.18   6.70   0.30   1.3387   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J1319+7003             3278   0.3275   1.53   5.80   0.30   1.5066   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
MACS_J1427.6-2521           3279   0.2200   6.11   3.80   0.40   1.6393   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
MACS_J1621.3+3810           3254   0.4650   1.07   6.30   0.39   1.3652   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J1621.3+3810           3594   0.4610   1.07   7.53   0.30   1.3689   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J1621.3+3810           6109   0.4610   1.07   7.53   0.30   1.3689   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J1621.3+3810           6172   0.4610   1.07   6.30   0.39   1.3689   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J1824.3+4309           3255   0.4870   4.52   3.70   0.12   1.3450   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J1931.8-2634           3282   0.3520   9.13   7.50   0.20   1.4793   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
MACS_J2211.7-0349           3284   0.2700   5.86  10.51   0.30   1.5748   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J2214.9-1359           3259   0.5026   3.32   8.80   0.30   1.3310   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J2214.9-1359           5011   0.5026   3.32   8.80   0.30   1.3310   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J2228+2036             3285   0.4120   4.52   8.40   0.35   1.4164   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
MACS_J2229.7-2755           3286   0.3240   1.34   5.50   0.30   1.5106   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
MACS_J2245.0+2637           3287   0.3040   5.50   5.10   0.68   1.5337   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
MACS_J2311+0338             3288   0.2998   5.23   3.00   0.30   1.5387   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
MKW_04                      3234   0.0198   1.90   2.16   0.43   1.9612   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
MS_0016.9+1609               520   0.5410   4.06   9.90   0.30   1.2979   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
MS_0302.7+1658               525   0.4240  10.95   3.60   0.30   1.4045   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
MS_0440.5+0204              4196   0.1900   9.10  10.00   0.30   1.6807   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
MS_0451.6-0305               902   0.5386   5.68   8.62   0.28   1.2999   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
MS_0735.6+7421              4197   0.2160   3.40   5.45   0.37   1.6447   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
MS_0839.8+2938              2224   0.1940   3.92   3.80   0.59   1.6750   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
MS_0906.5+1110               924   0.1630   3.60   8.10   0.30   1.7197   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
MS_1006.0+1202               925   0.2210   3.63   7.03   0.37   1.6380   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
MS_1008.1-1224               926   0.3010   6.71   7.47   0.72   1.5373   wabs  mekal   cash    no   yes   r2500-50       src1    bgd_adj    no     NAZGUL
MS_1054.5-0321               512   0.8300   3.69  13.21   0.07   1.0929   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
MS_1455.0+2232              4192   0.2590   3.35   4.51   0.35   1.5886   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
MS_1621.5+2640               546   0.4260   3.59   7.60   0.30   1.4025   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
MS_2053.7-0449              1667   0.5830   5.16  10.03   0.31   1.2634   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
MS_2053.7-0449               551   0.5830   5.16  10.03   0.31   1.2634   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
MS_2137.3-2353              4974   0.3130   3.40   6.30   0.30   1.5232   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
OPHIUCHUS                   3200   0.0280  36.00  10.00   0.30   1.9455   wabs  mekal   cash    no   yes   r2500-50       src1    bgd_adj    no     NAZGUL
PKS_0745-191                 508   0.1028  40.82   8.50   0.30   1.8136   wabs  mekal   cash    no   yes   r2500-50       src1    bgd_adj    no     NAZGUL
PKS_0745-191                6103   0.1028  40.80   8.50   0.30   1.8136   wabs  mekal   cash    no   yes   r2500-50       src1    bgd_adj    no     NAZGUL
RBS_0797                    2202   0.3540   2.22   6.43   0.30   1.4771   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
RDCS_1252-29                4198   1.2370   6.06   5.20   0.30   0.8941   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
RX_J0439+0520                527   0.2080  10.02   4.63   0.30   1.6556   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
RX_J0439.0+0715             1449   0.2300  11.16   6.50   0.30   1.6129   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
RX_J0439.0+0715             3583   0.2300  11.16   6.50   0.30   1.6129   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
RX_J0647.7+7015             3196   0.5840   5.18   9.07   0.30   1.2626   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
RX_J0647.7+7015             3584   0.5840   5.18   9.07   0.30   1.2626   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
RX_J0819.6+6336             2199   0.1190   4.11   3.90   0.30   1.7873   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
RX_J0820.9+0752             1647   0.1100   2.37   7.28   0.30   1.8018   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
RX_J0910+5422               2452   1.1000   2.07   3.50   0.30   0.9524   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
RX_J1053+5735               4936   1.1400   0.59   3.90   0.30   0.9346   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
RX_J1347.5-1145             3592   0.4510   4.89  10.88   0.30   1.3784   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
RX_J1347.5-1145              507   0.4510   4.89  10.88   0.37   1.3784   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
RX_J1350+6007               2229   0.8040   1.77   4.60   0.30   1.1086   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
RX_J1423.8+2404             1657   0.5450   2.65   5.92   0.30   1.2945   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
RX_J1423.8+2404             4195   0.5450   2.65   5.92   0.30   1.2945   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
RX_J1504.1-0248             5793   0.2150   6.27   8.90   0.30   1.6461   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
RX_J1525+0958               1664   0.5160   2.96   5.10   0.30   1.3193   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
RX_J1532.9+3021             1649   0.3450   2.21   5.44   0.34   1.4870   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
RX_J1532.9+3021             1665   0.3450   2.21   5.44   0.30   1.4870   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
RX_J1716.9+6708              548   0.8100   3.71   9.84   0.30   1.1050   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
RX_J1720.1+2638             4361   0.1640   4.02   5.55   0.30   1.7182   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
RX_J1720.2+3536             3280   0.3913   3.35   5.65   0.30   1.4375   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
RX_J1720.2+3536             6107   0.3913   3.35   5.65   0.30   1.4375   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
RX_J1720.2+3536             7225   0.3913   3.35   5.65   0.30   1.4375   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
RX_J2129.6+0005              552   0.2350   4.30  11.00   0.30   1.6194   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
SERSIC_159-03               1668   0.0580   1.89   2.41   0.30   1.8904   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
V_1121.0+2327               1660   0.5600   1.30   6.10   0.30   1.2821   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ZWCL_1215                   4184   0.0750   1.76   3.00   0.30   1.8605   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ZWCL_1358+6245               516   0.3280   1.94   7.20   0.30   1.5060   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ZWCL_1953                   1659   0.3800   3.10  14.50   0.30   1.4493   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ZWCL_3146                    909   0.2900   2.70  12.80   0.30   1.5504   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ZWCL_5247                    539   0.2290   1.70   8.50   0.30   1.6273   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ZWCL_7160                    543   0.2578   3.10   9.60   0.30   1.5901   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ZWICKY_2701                 3195   0.2100   0.83   4.44   0.30   1.6529   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     NAZGUL
ZwCL_1332.8+5043            5772   0.6200   1.10  13.60   0.55   1.2345   wabs  mekal   cash   yes   yes   r2500-50       src1    bgd_adj    no     MBRANE
